$mainBackgroundColor: '#f5f7fa';
$topbarBackgroundColor: '#2296f3';

$mainMenuBackground: '#0f1b27';
$menuColor: '#9f9fbf';
$menuSelectedColor: '#eee8ea';
$menuSelectedDotColor: '#c5274e';

$trendPositive: '#20c994';
$trendNegative: '#fd6997';

$feedItemAlternateBackground: '#383168';